<launch>
    <!-- LAUNCH INTERFACE -->
    <arg name="gui"                       default="false" />
    <arg name="robot_name"                default="vito"/>
    <arg name="use_rviz"                  default="true"/>
    <arg name="use_joint_state_publisher" default="true"/>
    <arg name="use_calibration_package"   default="true"/>
    <arg name="use_grasp_estimator"       default="false"/>

    <!-- choose whether or not to start the full robot simulation -->
    <arg name="use_robot_sim" default="true"/>

    <!-- LAUNCH IMPLEMENTATION -->

    <!-- #### -->

    <!-- load the full robot in robot_description, useful for visualization, collision detection and planning simultaneously -->
    <!-- the selection is only due to the hand visualization which is different in real and simulation -->
    <group if="$(arg use_robot_sim)">
        <param name="robot_description" command="$(find xacro)/xacro $(find vito_description)/robot/$(arg robot_name)_iliad.urdf.xacro use_mimic_tag:=false"/>
    </group>
    <group unless="$(arg use_robot_sim)">
        <param name="robot_description" command="$(find xacro)/xacro $(find vito_description)/robot/$(arg robot_name)_iliad.urdf.xacro use_mimic_tag:=true"/>
    </group>

    <group if="$(arg use_joint_state_publisher)">
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="use_gui" value="$(arg gui)"/>
            <!-- listens to each part -->
            <rosparam param="source_list">[/left_arm/joint_states,/left_hand/joint_states,/right_arm/joint_states,/right_hand/joint_states,/head/joint_states]</rosparam>
        </node>
    </group>

    <param name="publish_frequency" value="100"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  />

    <group if="$(arg use_rviz)">
        <node name="my_rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find vito_description)/launch/rviz_config.rviz" output="screen"/>
    </group>

    <!-- load hardware interface and controller configurations -->
    <rosparam command="load" file="$(find vito_description)/config/vito_controllers.yaml"/>
    <rosparam command="load" file="$(find vito_description)/config/hardware_interfaces.yaml"/>

</launch>
